.breadcrumb{
	color:black;
}

.highlight:hover{
	color:lightgrey;
}

.settings:hover{
	cursor:pointer;

}

.header-highlight:hover{
	color:grey !important;
}

.bodyBack, .bd_clr, .lastBack{
	background-color:grey;
	color:black;
}

.chart-gauge {
  width: 400px;
  margin: 10px auto;
}

.chart-color1 {
  fill: #DEA82C;
}

.chart-color2 {
  fill: #E9621A;
}

.chart-color3 {
  fill: #e92213;
}

.needle,
.needle-center {
  fill: #464A4F;
}

.prose {
  text-align: center;
  font-family: sans-serif;
  color: #ababab;
}

svg {
  margin:20px 0 0 0;
  background: transparent;
}

.border-obj {
	border:2px solid black;
	margin:10px 10px 10px 10px;
}

#needle {
  position: relative;
  transform: rotate(18deg);
  transform-origin: 63px 66px;
  -webkit-transform: rotate(18.6deg); // (deg *180 / 100) -90
  -webkit-transform-origin: 63px 66px;
  
}

$arrow-width: 40px;

.arrow-up {
  width: 0; 
  height: 0; 
  border-left: $arrow-width solid transparent;
  border-right: $arrow-width solid transparent;
  
  border-bottom: $arrow-width solid green;
}

.arrow-down {
  width: 0; 
  height: 0; 
  border-left: $arrow-width solid transparent;
  border-right: $arrow-width solid transparent;
  
  border-top: $arrow-width solid #f00;
}

.background{
	max-width: 100%;
	max-height: 100%;
	margin:auto;
}



.perfilimg {
	margin-top:-200px;

}
.perfilimghor {
	top:0;
	margin-top: -300px;	
}

.name {
	margin-top:100px;
	color:black;
}

.userView{
	color:black;
	text-shadow:0.1em 0.2em 0.1em solid grey;
}

.parent {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.bar {
	height: 100%;
    width: 50%;
    right: 0;
    top: 0;
	
}
